{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/account.css') }}">
<div class="info-box">
    <img src="src/images/info.svg">
    <p>加载成功</p>
</div>

<div class="add-account-container">
    <div class="add-account-box">
        <div class="add-account-title">
            <h3>添加账号</h3>
            <span class="close">&times;</span>
        </div>
        <div class="account-container">
            <div class="input-container">
                <span>手机号</span>
                <input id="phone">
            </div>
            <div class="input-container">
                <span>验证码</span>
                <input id="code">
            </div>
            <div class="input-container">
                <span>两步验证密码</span>
                <input id="2fa">
            </div>
            <div class="add-account-buttons">
                <button class="btn add-account">发送验证码</button>
            </div>
        </div>
    </div>
</div>

<div class="card-content">
    <div class="card title">
        <p>账号管理</p>
    </div>
</div>

<div class="card-content">
    <div class="card body">
        <div class="box-card-title">
            <span class="left-tip"></span>
            <span>监听账号</span>
        </div>
        <div class="account-manage">
            <div class="monitor-table">
                <table>
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>会话名称</th>
                        <th>手机号</th>
                        <th>用户名</th>
                        <th>昵称</th>
                        <th>状态</th>
                    </tr>
                    </thead>
                    <tbody class="monitor-accounts">
                    {% for acc in monitor_accounts %}
                    <tr>
                        <td>{{ acc.id }}</td>
                        <td>{{ acc.session }}</td>
                        <td>{{ acc.phone }}</td>
                        <td>{{ acc.username }}</td>
                        <td>{{ acc.nickname }}</td>
                        <td>{{ acc.status }}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="buttons">
                {% set has_online = monitor_accounts|selectattr("status", "equalto", "在线")|list|length > 0 %}
                {% set has_monitoring = monitor_accounts|selectattr("status", "equalto", "监听中")|list|length > 0 %}
                <button class="btn operate add-monitor-account secondary-btn">添加账号</button>
                <button class="btn login-monitor-account {% if has_online or has_monitoring %}disable{% endif %}">登录</button>
                <button class="btn start-monitoring secondary-btn {% if not has_online %}disable{% endif %}">开始监听</button>
                <button class="btn cease-monitoring secondary-btn {% if not has_monitoring %}disable{% endif %}">停止监听</button>
            </div>
        </div>
    </div>
</div>

<div class="card-content">
    <div class="card body">
        <div class="box-card-title">
            <span class="left-tip"></span>
            <span>克隆账号</span>
        </div>
        <div class="account-manage">
            <div class="buttons">
                <button class="btn operate add-clone-account secondary-btn">添加账号</button>
                <button class="btn operate join-target-group secondary-btn">加入目标群</button>
                <button class="btn operate clear-profile-photo secondary-btn">清空头像</button>
            </div>
            <div class="clone-table">
                <table>
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>会话名称</th>
                        <th>手机号</th>
                        <th>用户名</th>
                        <th>昵称</th>
                        <th>状态</th>
                    </tr>
                    </thead>
                    <tbody class="clone-accounts">
                    {% for acc in clone_accounts %}
                    <tr>
                        <td>{{ acc.id }}</td>
                        <td>{{ acc.session }}</td>
                        <td>{{ acc.phone }}</td>
                        <td>{{ acc.username }}</td>
                        <td>{{ acc.nickname }}</td>
                        <td>{{ acc.status }}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="buttons">
                {% set has_online = clone_accounts|selectattr("status", "equalto", "在线")|list|length > 0 %}
                <button class="btn login-clone-account {% if has_online %}disable{% endif %}">登录</button>
                <button class="btn disconnect-clone-account secondary-btn {% if not has_online %}disable{% endif %}">断开</button>
            </div>
        </div>
    </div>
</div>

<script src="{{ url_for('static', filename='js/index.js') }}"></script>
<script src="{{ url_for('static', filename='js/account.js') }}"></script>
{% endblock %}
