{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/config.css') }}">
<div class="card-content">
    <div class="card title">
        <p>首页</p>
    </div>
</div>

<div class="card-content">
    <div class="card">
        <h2>欢迎使用 Telegram Group Cloner</h2>
        <p>开源地址：<a href="https://github.com/ouyooung/TelegramGroupCloner">https://github.com/ouyooung/TelegramGroupCloner</a></p>
        <p>作者：<a href="https://t.me/ouyoung">欧阳</a>&nbsp;&nbsp;&nbsp;交流群：<a href="https://t.me/oyDevelopersClub">@oyDevelopersClub</a></p>
        <p>请遵循当地法律法规，在合法的范围内使用本程序！任何基于本项目或本项目二次开发产生的法律纠纷责任，我们对此不承担任何责任！</p>
    </div>
</div>
{% endblock %}
